// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
window.bar {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.dim,
.secondary {
  color: rgba(255, 255, 255, 0.5);
}

progressbar {
  background-color: transparent;

  progress,
  trough {
    min-height: 2px;
    transition:
      min-width 500ms cubic-bezier(0.5, 0, 0, 1),
      background-color 500ms cubic-bezier(0.5, 0, 0, 1);
  }

  trough {
    min-width: 16px;
    background-color: rgba(255, 255, 255, 0.1);

    progress {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.full progress {
      background-color: #ffaa00;
    }
  }

  &.dim {
    progress,
    trough {
      transition:
        min-width 500ms cubic-bezier(0.5, 0, 0, 1),
        background-color 1s cubic-bezier(0.5, 0, 0, 1);
    }
  }

  &.bright {
    trough {
      min-width: 128px;
      background-color: rgba(255, 255, 255, 0.25);

      progress {
        background-color: rgba(255, 255, 255, 1);
      }

      &.full progress {
        background-color: #ffaa00;
      }
    }
  }
}

.workspaces {
  margin-left: 16px;
}

.icon {
  margin-right: 4px;

  &.dim {
    transition: all 1s cubic-bezier(0.5, 0, 0, 1);
  }

  &.bright {
    transition: all 250ms cubic-bezier(0.5, 0, 0, 1);
  }
}

.alarm {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-name: alarm;
  color: rgba(255, 0, 0, 1);
}

@keyframes alarm {
  from {
    color: rgba(255, 0, 0, 1);
  }
  to {
    color: rgba(255, 0, 0, 0.5);
  }
}

.warning {
  color: #ffaa00;
}
